<div class="app">
  <clr-header class="header-6">
    <div class="branding clr-align-items-center">
      <span style="color: #ffffff; font-size: 2em">
        {{ title }}
      </span>
    </div>

    <div class="header-nav clr-align-items-center">
      <button class="btn btn-inverse" (click)="goHome()">
        <span class="nav-text">Home</span>
      </button>

      <button class="btn btn-inverse" (click)="goMail()">
        <span class="nav-text">Mails</span>
      </button>

      <button class="btn btn-inverse" (click)="goList()">
        <span class="nav-text">Lists</span>
      </button>

      <button class="btn btn-inverse" (click)="goHistory()">
        <span class="nav-text">History</span>
      </button>
    </div>
    <div class="header-actions clr-align-items-center">
      <a class="btn btn-inverse" (click)="goProfil()">
        <span class="nav-text">Profil</span>
      </a>
    </div>
  </clr-header>
</div>
<div class="content-container">
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
