<clr-main-container>
  <div class="create-account-wrapper" style="margin-left: 1em">
    <form class="login" [formGroup]="creationForm" (ngSubmit)="onSubmit(creationForm.value)">
      <section class="title">
        <h3 class="welcome">Subscribe to</h3>
        Projet : spam en moins
      </section>
      <div class="create-account-group">
        <clr-input-container>
          <label for="email" class="clr-sr-only">Email address</label>
          <input id="email" type="text" clrInput placeholder="Email" formControlName="email" />
        </clr-input-container>
        <clr-password-container>
          <label for="email" class="clr-sr-only">Password for this email address</label>
          <input
            id="emailPassword"
            type="text"
            clrPassword
            placeholder="EmailPassword"
            formControlName="email_password"
          />
        </clr-password-container>
        <clr-input-container>
          <label for="email" class="clr-sr-only">Full name</label>
          <input
            id="fullName"
            type="text"
            clrInput
            placeholder="Fullname"
            formControlName="full_name"
          />
        </clr-input-container>
        <clr-password-container>
          <label for="password" class="clr-sr-only">Account password</label>
          <input
            id="password"
            type="password"
            clrPassword
            placeholder="Password"
            formControlName="password"
          />
        </clr-password-container>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="login" class="signup">Already have an account? Connect!</a>
        <br />
      </div>
    </form>
  </div>
  <div style="margin-left: 1em"><app-help></app-help></div>
</clr-main-container>
