<clr-main-container>
  <app-header>
    <clr-datagrid [(clrDgSingleSelected)]="selectedWhite">
      <clr-dg-column [clrDgField]="'whiteemailname'">White List</clr-dg-column>
      <clr-dg-row *clrDgItems="let whiteemail of whitelist" [clrDgItem]="whiteemail">
        <clr-dg-cell>{{ whiteemail }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
    <form
      class="whiteemailform"
      [formGroup]="addInWhiteListForm"
      (ngSubmit)="onWhiteListSubmit(addInWhiteListForm.value)"
    >
      <section>Add addresses below</section>
      <clr-input-container>
        <label for="whiteemailitem" class="clr-sr-only">Address</label>
        <input
          id="whiteemailitem"
          type="text"
          clrInput
          placeholder="Email"
          formControlName="whiteemailitem"
        />
      </clr-input-container>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div>
      <button class="btn btn-primary" [disabled]="!selectedWhite" (click)="onDeleteWhite()">
        <span class="nav-text">Delete</span>
      </button>
    </div>
    <clr-datagrid [(clrDgSingleSelected)]="selectedBlack">
      <clr-dg-column [clrDgField]="'blackemailname'">Black List</clr-dg-column>
      <clr-dg-row *clrDgItems="let blackemail of blacklist" [clrDgItem]="blackemail">
        <clr-dg-cell>{{ blackemail }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
    <form
      class="blackemailform"
      [formGroup]="addInBlackListForm"
      (ngSubmit)="onBlackListSubmit(addInBlackListForm.value)"
    >
      <section>Add addresses below</section>
      <clr-input-container>
        <label for="blackemailitem" class="clr-sr-only">Address</label>
        <input
          id="blackemailitem"
          type="text"
          clrInput
          placeholder="Email"
          formControlName="blackemailitem"
        />
      </clr-input-container>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div>
      <button class="btn btn-primary" [disabled]="!selectedBlack" (click)="onDeleteBlack()">
        <span class="nav-text">Delete</span>
      </button>
    </div>
  </app-header>
</clr-main-container>

<!--Composant qui regroupe les informations sur les listes blanches et noires.
    Possibilité de les modifier aussi.-->
